pkgbase = inir-meta
	pkgdesc = Full Hadalis desktop experience meta-package
	pkgver = 2.29.3
	pkgrel = 3
	url = https://github.com/llocphann/Hadalis
	arch = any
	license = GPL-3.0-only
	depends = adw-gtk-theme
	depends = adwaita-icon-theme
	depends = awww
	depends = bc
	depends = blueman
	depends = breeze-icons
	depends = capitaine-cursors
	depends = cava
	depends = darkly-bin
	depends = ddcutil
	depends = easyeffects
	depends = eza
	depends = ffmpeg
	depends = fontconfig
	depends = fprintd
	depends = frameworkintegration
	depends = fuzzel
	depends = geoclue
	depends = git
	depends = glib2
	depends = gnome-keyring
	depends = gowall-bin
	depends = gum
	depends = hicolor-icon-theme
	depends = hyprpicker
	depends = imagemagick
	depends = inir-shell
	depends = kconfig
	depends = kdecoration
	depends = kdialog
	depends = kitty
	depends = kvantum
	depends = libdbusmenu-gtk3
	depends = libqalculate
	depends = mission-center
	depends = mpv
	depends = mpv-mpris
	depends = nautilus
	depends = otf-space-grotesk
	depends = pacman-contrib
	depends = papirus-icon-theme
	depends = pavucontrol
	depends = plasma-browser-integration
	depends = plasma-integration
	depends = python-ytmusicapi
	depends = qt6-avif-image-plugin
	depends = qt6-svg
	depends = qt6-virtualkeyboard
	depends = qt6ct
	depends = ripgrep
	depends = sddm
	depends = socat
	depends = songrec
	depends = starship
	depends = swappy
	depends = tesseract
	depends = tesseract-data-eng
	depends = tesseract-data-spa
	depends = translate-shell
	depends = ttf-dejavu
	depends = ttf-gabarito-git
	depends = ttf-liberation
	depends = ttf-oxanium
	depends = ttf-readex-pro
	depends = ttf-roboto
	depends = ttf-roboto-mono
	depends = ttf-rubik-vf
	depends = ttf-twemoji
	depends = upower
	depends = uv
	depends = wget
	depends = wf-recorder
	depends = whitesur-icon-theme
	depends = wtype
	depends = ydotool
	depends = yt-dlp
	optdepends = millennium-bin: Steam theming via Millennium (requires steam)

pkgname = inir-meta
